* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
}

section {
  scroll-margin-top: 100px;
}
html {
  scroll-behavior: smooth;
}

