.contact {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.contact h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #f68b1e;
}

.contact p {
  margin: 8px 0;
  font-size: 1rem;
}

.contact a {
  color: #f68b1e;
  text-decoration: none;
}

.copy {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #aaa;
}
/* .follow {
  display: flex;
  align-items: center;
  gap: 6px;
} */

.instaLink {
  color: #f68b1e;
  text-decoration: none;
  font-weight: 600;
  /* display: flex; */
  align-items: center;
  gap: 6px;
}

.instaIcon {
  font-size: 1.2rem;
}

.instaLink:hover {
  color: #d97706;
  text-decoration: underline;
}
